body {
  margin: 0;
}

.clock-time {
  font-size: 50px;
  font-weight: bold;
}

.clock-day {
  font-size: 25px;
}

.clock-date {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.name,
.hello {
  display: none;
}

.showing {
  display: block;
}

.bgImg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 2s linear;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
